.pizza-section {
    position: relative;
    background-color: #F0EAE1;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.pizza-image {
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
}

.pizza-content {
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}

.custom-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

.custom-radio:hover input~.checkmark {
    background-color: #ccc;
}

.custom-radio input:checked~.checkmark {
    background-color: #FDC913;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio input:checked~.checkmark:after {
    display: block;
}

.custom-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    color: #333;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
}

.custom-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.custom-checkbox input:checked~.checkmark {
    background-color: #FDC913;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

@media (min-width: 768px) {
    img.logo {
        height: 45px;
    }
}

@media (max-width:768px) {

    .pizza-section {
        padding: 6rem 3rem 4rem 3rem;
    }

    .pizza-image {
        width: 220px;
        top: -120px;
    }

    .custom-radio,
    .custom-checkbox {
        font-size: 1rem;
    }

    .custom-checkbox {
        margin-bottom: 0.5rem;
    }

}